<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneOfUsIsTheKillerActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/album_title" />
        <activity
            android:name=".DiamondEyesActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/album_title" />
        <activity
            android:name=".EmptyBlackActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/album_title" />
        <activity
            android:name=".MeridionalActivity"
            android:parentActivityName=".MainActivity"
            android:label="@string/album_title" />
    </application>

</manifest>